.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav {
    padding: 3em 0;
    text-align: right;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-left: 1em;
    padding: 0;
    font-weight: bold;
}

.nav a,
.nav i,
.nav-toggle {
    color: #9c2c27;
    font-size: 1.2em;
}

.nav .active a,
.nav a:hover,
.nav-toggle:hover,
.nav .active i {
    color: #fff;
}

.nav a:hover,
.nav-toggle:hover,
.nav i:hover {
    color: #fff;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}
