@media (max-width: 767px) {
    .main {
        padding: 2em 0 1em;
    }

    .title,
    .logo {
        padding: 2em 1.5em 2em 0;
    }

    .logo {
        height: 8.8em;
    }

    .nav {
        clear: both;
        padding: 0;
    }

    .nav ul {
        padding-bottom: 1em;
    }

    .nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .js .nav-toggle>* {
        vertical-align: middle;
    }

    .site-footer p {
        padding: 1em 0;
    }

    .site-footer
    .social {
        padding: 0.5em 0 0.5em 1em;
    }

    .image.xsmall {
        width: 60%;
    }

    .image.small {
        width: 80%;
    }

    .image.large,
    .image.xlarge {
        width: 100%;
    }

    .image.float-left,
    .image.float-right {
        float: none;
        margin: 0 auto;
    }

    .landingpage {
        margin: 0 auto;
    }

    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 1;
    }

    .sidebar {
        display: none !important;
    }

    .next-previous {
        display: flex;
        justify-content: center;
    }

    .next-previous i {
        font-size: 2.5em;
        margin: 1em;
        color: #000;
    }
}
