@import 'common';
@import 'variables';

@import 'typography';
@import 'header';
@import 'navigation';
@import 'footer';
@import 'report';
@import 'kmom';
@import 'gallery';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
}

/*** BASIC LAYOUT ***/

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding: 5em 0 4em;
    background-color: $background-color;
}

.site-header,
.site-footer {
    flex: 0 0 auto;
}

.container {
    max-width: 48em;
    padding: 0 0.5em;
    margin: 0 auto;
}

.widescreen .container {
    max-width: 72em;
}

img,
embed,
object,
video {
    max-width: 100%;
}

/* very ugly overflow fix, avoid this whenever possible! */

.main .container {
    overflow-x: auto;
}

@import 'responsiveness';
