$font-size: 1.2em;
$line: 1.4;
$magic-number: $font-size * $line;
$black: #000 !default;
$box-shadow: 1em 1em 1em rgba($black, 0.2) !default;
$hover: #94ffff;
$background-color: rgb(240, 240, 240);
$background-alternative-color: rgba(250, 250, 250);
$accent-color: #042c4f;
$font-color: #000;
$font-alternative-color: rgb(18, 18, 18);
$sidebar-font-color: #4b4f08;

.nav a,
.flash-img {
    box-shadow: $box-shadow;
}
