$font-size: 1.2em;
$line: 1.4;
$magic-number: $font-size * $line;
$hover: #8cffff;
$background-color: rgb(50, 50, 50);
$background-alternative-color: rgba(255, 255, 255, 0.1);
$accent-color: rgb(18, 18, 18);
$font-color: rgb(200, 200, 200);
$font-alternative-color: rgb(241, 241, 241);
$sidebar-font-color: #939c08;
